<form name="form1" method="POST" action="/formData">
    <table>
        <tr>
        <td><label for="Date">Repairs Date:</label> </td>
        <td><input type="date" id="Date" value="2018-07-22" min="2018-01-01" max="2018-12-31" name="Date"></td>
        </tr>
        <tr>
        <td><label for="customerName">Customer Name:</label></td>
        <td><input type="text" name="customerName"></td>
        </tr>
        <tr>
        <td><label for="carModel">Car Model:</label></td>
        <td><input type="text" name="carModel"></td>
        </tr>
        <tr>
        <td><label for="fee">Fee:</label></td>
        <td><input type="number" name="fee"></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form> 