<!DOCTYPE html>
<html>
<head>
    <title>ABC Cars Repairs Garage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styling.css" type="text/css">
</head>
<body>
    <h1>Repairs Data:</h1>
    <table>
        <tr>
            <th>Repairs Date</th>
            <th>Customer Name</th>
            <th>Car Model</th>
            <th>Fee</th>
        </tr>
        <% Data.forEach((item) => { %>
        <tr>
            <td><%= item.Date %></td>
            <td><%= item.custName %></td>
            <td><%= item.CarModel %></td>
            <td><%= item.fee %></td>
        </tr>
        <% }) %>
        <tr>
      </tr>
    </table>
</body>

</html>